body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.choice {
    max-width: 8rem;
    border: 4px solid black;
    border-radius: 1rem;
    padding: 1rem;
    transition: all 0.2s ease;
}

.choice:hover {
    transform: scale(1.1);
}

@media (max-width: 576px) {
    .choice {
        max-width: 6rem;
    }
}